* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #ff9201;
}
.container {
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.character {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.mario {
  width: 20px;
  height: 20px;
  font-size: 20px;
  box-shadow: 
    1em 0 #f00, 2em 0 #f00, 3em 0 #f00, 4em 0 #f00, 5em 0 #f00,
    -1em 1em #f00, 0 1em #f00, 1em 1em #f00, 2em 1em #f00,3em 1em #f00, 4em 1em #f00, 5em 1em #f00, 6em 1em #f00, 7em 1em #f00, 8em 1em #f00,
    -1em 2em #94490b, 0 2em #94490b, 1em 2em #94490b, 2em 2em #f9c18f, 3em 2em #f9c18f, 4em 2em #f9c18f, 5em 2em #000, 6em 2em #f9c18f,
    -2em 3em #94490b, -1em 3em #f9c18f, 0 3em #94490b, 1em 3em #f9c18f, 2em 3em #f9c18f, 3em 3em #f9c18f, 4em 3em #f9c18f, 5em 3em #000, 6em 3em #f9c18f, 7em 3em #f9c18f, 8em 3em #f9c18f,
    -2em 4em #94490b, -1em 4em #f9c18f, 0 4em #94490b, 1em 4em #94490b, 2em 4em #f9c18f, 3em 4em #f9c18f, 4em 4em #f9c18f, 5em 4em #f9c18f, 6em 4em #000, 7em 4em #f9c18f, 8em 4em #f9c18f, 9em 4em #f9c18f,
    -2em 5em #94490b, -1em 5em #94490b, 0 5em #f9c18f, 1em 5em #f9c18f, 2em 5em #f9c18f, 3em 5em #f9c18f, 4em 5em #f9c18f, 5em 5em #000, 6em 5em #000, 7em 5em #000, 8em 5em #000,
    0 6em #f9c18f, 1em 6em #f9c18f, 2em 6em #f9c18f, 3em 6em #f9c18f, 4em 6em #f9c18f, 5em 6em #f9c18f, 6em 6em #f9c18f, 7em 6em #f9c18f,
    -1em 7em #f00, 0 7em #f00, 1em 7em #0270bd, 2em 7em #f00, 3em 7em #f00, 4em 7em #f00, 5em 7em #f00,
    -2em 8em #f00, -1em 8em #f00, 0 8em #f00, 1em 8em #0270bd, 2em 8em #f00, 3em 8em #f00, 4em 8em #0270bd, 5em 8em #f00, 6em 8em #f00, 7em 8em #f00,
    -3em 9em #f00, -2em 9em #f00, -1em 9em #f00, 0 9em #f00, 1em 9em #0270bd, 2em 9em #0270bd, 3em 9em #0270bd, 4em 9em #0270bd, 5em 9em #f00, 6em 9em #f00, 7em 9em #f00, 8em 9em #f00,
    -3em 10em #f9c18f, -2em 10em #f9c18f, -1em 10em #f00, 0 10em #0270bd, 1em 10em #ffff00, 2em 10em #0270bd, 3em 10em #0270bd, 4em 10em #ffff00, 5em 10em #0270bd, 6em 10em #f00, 7em 10em #f9c18f, 8em 10em #f9c18f,
    -3em 11em #f9c18f, -2em 11em #f9c18f, -1em 11em #f9c18f, 0 11em #0270bd, 1em 11em #0270bd, 2em 11em #0270bd, 3em 11em #0270bd, 4em 11em #0270bd, 5em 11em #0270bd, 6em 11em #f9c18f, 7em 11em #f9c18f, 8em 11em #f9c18f,
    -3em 12em #f9c18f, -2em 12em #f9c18f, -1em 12em #0270bd, 0 12em #0270bd, 1em 12em #0270bd, 2em 12em #0270bd, 3em 12em #0270bd, 4em 12em #0270bd, 5em 12em #0270bd, 6em 12em #0270bd, 7em 12em #f9c18f, 8em 12em #f9c18f,
    -1em 13em #0270bd, 0 13em #0270bd, 1em 13em #0270bd, 4em 13em #0270bd, 5em 13em #0270bd, 6em 13em #0270bd,
    -2em 14em #94490b, -1em 14em #94490b, 0 14em #94490b, 5em 14em #94490b, 6em 14em #94490b, 7em 14em #94490b,
    -3em 15em #94490b, -2em 15em #94490b, -1em 15em #94490b, 0 15em #94490b, 5em 15em #94490b, 6em 15em #94490b, 7em 15em #94490b, 8em 15em #94490b;
}
.luigi {
  width: 20px;
  height: 20px;
  background-color: #eee;
  font-size: 20px;
  box-shadow: 
    1em 0 #eee, 2em 0 #eee, 3em 0 #eee, 4em 0 #eee, 5em 0 #eee,
    -1em 1em #eee, 0 1em #eee, 1em 1em #eee, 2em 1em #eee,3em 1em #eee, 4em 1em #eee, 5em 1em #eee, 6em 1em #eee, 7em 1em #eee, 8em 1em #eee,
    -1em 2em #3e8501, 0 2em #3e8501, 1em 2em #3e8501, 2em 2em #f9c18f, 3em 2em #f9c18f, 4em 2em #f9c18f, 5em 2em #3e8501, 6em 2em #f9c18f,
    -2em 3em #3e8501, -1em 3em #f9c18f, 0 3em #3e8501, 1em 3em #f9c18f, 2em 3em #f9c18f, 3em 3em #f9c18f, 4em 3em #f9c18f, 5em 3em #3e8501, 6em 3em #f9c18f, 7em 3em #f9c18f, 8em 3em #f9c18f,
    -2em 4em #3e8501, -1em 4em #f9c18f, 0 4em #3e8501, 1em 4em #3e8501, 2em 4em #f9c18f, 3em 4em #f9c18f, 4em 4em #f9c18f, 5em 4em #f9c18f, 6em 4em #3e8501, 7em 4em #f9c18f, 8em 4em #f9c18f, 9em 4em #f9c18f,
    -2em 5em #3e8501, -1em 5em #3e8501, 0 5em #f9c18f, 1em 5em #f9c18f, 2em 5em #f9c18f, 3em 5em #f9c18f, 4em 5em #f9c18f, 5em 5em #3e8501, 6em 5em #3e8501, 7em 5em #3e8501, 8em 5em #3e8501,
    0 6em #f9c18f, 1em 6em #f9c18f, 2em 6em #f9c18f, 3em 6em #f9c18f, 4em 6em #f9c18f, 5em 6em #f9c18f, 6em 6em #f9c18f, 7em 6em #f9c18f,
    -1em 7em #3e8501, 0 7em #3e8501, 1em 7em #eee, 2em 7em #3e8501, 3em 7em #3e8501, 4em 7em #3e8501, 5em 7em #3e8501,
    -2em 8em #3e8501, -1em 8em #3e8501, 0 8em #3e8501, 1em 8em #eee, 2em 8em #3e8501, 3em 8em #3e8501, 4em 8em #eee, 5em 8em #3e8501, 6em 8em #3e8501, 7em 8em #3e8501,
    -3em 9em #3e8501, -2em 9em #3e8501, -1em 9em #3e8501, 0 9em #3e8501, 1em 9em #eee, 2em 9em #eee, 3em 9em #eee, 4em 9em #eee, 5em 9em #3e8501, 6em 9em #3e8501, 7em 9em #3e8501, 8em 9em #3e8501,
    -3em 10em #f9c18f, -2em 10em #f9c18f, -1em 10em #3e8501, 0 10em #eee, 1em 10em #ffff00, 2em 10em #eee, 3em 10em #eee, 4em 10em #ffff00, 5em 10em #eee, 6em 10em #3e8501, 7em 10em #f9c18f, 8em 10em #f9c18f,
    -3em 11em #f9c18f, -2em 11em #f9c18f, -1em 11em #f9c18f, 0 11em #eee, 1em 11em #eee, 2em 11em #eee, 3em 11em #eee, 4em 11em #eee, 5em 11em #eee, 6em 11em #f9c18f, 7em 11em #f9c18f, 8em 11em #f9c18f,
    -3em 12em #f9c18f, -2em 12em #f9c18f, -1em 12em #eee, 0 12em #eee, 1em 12em #eee, 2em 12em #eee, 3em 12em #eee, 4em 12em #eee, 5em 12em #eee, 6em 12em #eee, 7em 12em #f9c18f, 8em 12em #f9c18f,
    -1em 13em #eee, 0 13em #eee, 1em 13em #eee, 4em 13em #eee, 5em 13em #eee, 6em 13em #eee,
    -2em 14em #3e8501, -1em 14em #3e8501, 0 14em #3e8501, 5em 14em #3e8501, 6em 14em #3e8501, 7em 14em #3e8501,
    -3em 15em #3e8501, -2em 15em #3e8501, -1em 15em #3e8501, 0 15em #3e8501, 5em 15em #3e8501, 6em 15em #3e8501, 7em 15em #3e8501, 8em 15em #3e8501;
}
